#big-div{
    height: 100vh;
    width: 100%;
    border: 1px solid black;
    text-align: center;
    padding-top:10px ;
    background-color: rgb(166, 212, 214);
}
h1{
    font-size: 55px;
    margin-top:15px ;
    margin-bottom: 20px;

}
#small-div{
    height: 80vh;
    width:800px ;
    border: 1px solid black;
    padding-top: 20px;
    padding-left: 100px;
    margin-left:400px ;
    background-color: rgb(125, 178, 180);
    box-shadow: 1px 1px 10px 10px rgb(11, 36, 37) ;
    
    
    
}
.vs-div{
    height: 100px;
    width:500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 80px;
}
h3{
    font-size: 30px;
    margin-top:2px ;
    margin-bottom: 2px;
}
#btn{
    height: 40px;
    width: 250px;
    font-size: 25px;
    border-radius: 5px;
    background-color: rgb(81, 69, 56);
   
}
p{
    margin-top: 2px;
    margin-bottom: 2px;
    
    
}
.inp{
    height:30px ;
    width: 500px;
    font-size: 20px;
    border: 5px;
}

